@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    padding: 5px;
    text-align: center;
  }
  .para {
    padding: 10px;
    color: #8D8D8D;
    text-align: center;
  }

.container{
    margin:40px;
    background-color: white;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
}
.left{
    max-width: auto;
    height: 500px;
    position: relative;
    flex: 1;
    margin:5px;
}
.form-row{
display: flex;
flex-wrap: wrap ;
width: 100%;
padding:10px;
}
.form-left{
    flex:1;
    position:relative;
    max-width:50%;
    margin:3 px;
    margin-right:20px;
    
}
button{
  margin:5px auto;
}

.form-right{
    flex:1;
    position: relative;
    max-width: 50%;
    margin:3px;
}


.right{
    max-width: auto;
    height: 600px;
    position: relative;
    flex: 1;
    margin:5px;
}
.right img{
    width: 100%;
    height:100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 5px;
}
.form-row input[type="text"],.form-row select, .form-row textarea {
    width:90%;
    height:30px;
    border:none;
    border-bottom: 1px solid black;
    margin:15px;
}
.form-row input[type="email"]{
    width:90%;
    height:30px;
    border:none;
    border-bottom: 1px solid black;
    margin:15px;
}
.form-row input[type="tele"] {
    width:90%;
    height:30px;
    border:none;
    border-bottom: 1px solid black;
    margin:15px;
}
.options {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
.form-row button{
    background-color: black;
    color:white;
    border-radius: 5px;
    padding:10px 20px;
    font-family: 'Poppins',sans-serif;
    font-size: medium;
    cursor: pointer;
}
.details{
    z-index: 2;
    position: absolute;
    top:10px;
    color: white;
    padding: 10px;
}

.icons{
    margin-top:50px;
}

.icons p{
    margin:40px;
    width:50%;
}

.social-container{
  display: flex;
  flex-wrap: wrap;
}
.social{
  margin:20px 15px;
}
@media (max-width:800px) {
    .left{
        flex:100%;
        max-width:500px;
    }
    .right{
        flex:100%;
        max-width:500px;
        margin-top:200px;  
    }
    .right .social-container .social{
        max-width: 500px;
    }
    .form-left{
        flex:100%;
        max-width: 600px;
    }
    .form-right{
        flex:100%;
        max-width: 600px;
    }
}